<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CollectiveIntelligenceASS01b/src/RecommendSys_ACF_test/RecommendSys_test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\Users\wenrui\Desktop\default.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RecommendSys_ACF_test.RecommendSys_test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CollectiveIntelligenceASS01b"/>
</launchConfiguration>
